### CLASS PRACTICE - SQLLite

#### Step 1 — Creating a Connection to a SQLite Database

In [21]:
# Example Code
import sqlite3
connection = sqlite3.connect("mydb.db")

You can connect to a SQLite database that resides in memory (and not in a file) by passing the special string ":memory:" into sqlite3.connect(). For example, sqlite3.connect(":memory:"). This creates a temporary sandbox and don’t need to persist any data after your program exits.

connection.total_changes is the total number of database rows that have been changed by connection. 
Since we have not executed any SQL commands yet, 0 total_changes is correct.

In [22]:
# verify we successfully created our connection object by running
print(connection.total_changes)

0

#### Now you create a database

### Step 2 — Adding Data to the SQLite Database

Create a table

In [23]:
#Example code 

cursor = connection.cursor()
cursor.execute("CREATE TABLE cats (name TEXT, species TEXT, age INTEGER)")

In [24]:
cursor.execute("INSERT INTO cats VALUES ('Jake', 'very_cute', 4)")
cursor.execute("INSERT INTO cats VALUES ('Lucky', 'cute', 3)")
cursor.execute("INSERT INTO cats VALUES ('Lois', 'super_cute', 3)")

### Now you create a table

### Step 3 — Reading Data from the SQLite Database

#### We added two rows to a SQLite table. We can retrieve those rows using a SELECT SQL statement:

In [25]:
rows = cursor.execute("SELECT name, species, age FROM cats").fetchall()
rows

[('Jake', 'very_cute', 4), ('Lucky', 'cute', 3), ('Lois', 'super_cute', 3)]

The cursor.execute() function runs a SELECT statement to retrieve values for the name, species, and age columns in the fish table. 
fetchall() retrieves all the results of the SELECT statement. 
When we print(rows) we see a list of two tuples.

In [26]:
# If we wanted to retrieve rows in thetable that match a specific set of criteria, we can use a WHERE clause:

target_cat_name = "Lucky"
rows = cursor.execute(
    "SELECT name, species, age FROM cats WHERE name = ?",
    (target_cat_name,),
).fetchall()
print(rows)

[('Lucky', 'cute', 3)]

cursor.execute(<SQL statement>).fetchall() allows us to fetch all the results of a SELECT statement. The WHERE clause in the SELECT statement filters for rows where the value of name is target_cat_name. Notice that we use ? to substitute our target_cat_name variable into the SELECT statement. We expect to only match one row, and indeed we only see the row for Lucky returned.

### Step 4 — Modifying Data in the SQLite Database

#### Rows in a SQLite database can be modified using UPDATE and DELETE SQL statements.

#### Let’s say, for example, we want to modify Lucky age

In [28]:
new_age = 2
age_name = "Lucky"
cursor.execute(
    "UPDATE cats SET age = ? WHERE name = ?",
    (new_age, age_name)
)

#### We issue an UPDATE SQL statement to change age to its new value of 2. The WHERE clause in the UPDATE statement ensures we only change the age if a row has name = "Lucky".

In [29]:
# Let us check 

rows = cursor.execute("SELECT name, species, age FROM cats").fetchall()
print(rows)

[('Jake', 'very_cute', 4), ('Lucky', 'cute', 2), ('Lois', 'super_cute', 3)]

In [ ]:
# We can also delete an entry
# Say Jacke is going on vction ot Europe 

vacation_cat = "Jake"
cursor.execute(
    "DELETE FROM cats WHERE name = ?",
    (vacation_cat,)
)

#### We issue a DELETE SQL statement to remove the row for Jake. The WHERE clause in the DELETE statement ensures we only delete a row if that row has name = "Jake".

#### If we run the following SELECT statement, we can confirm our deletion was made correctly:

### Now you try

#### Step 5 — Using with Statements For Automatic Cleanup

We’ve used two primary objects to interact with the "mydb.db" SQLite database: a Connection object named connection, and a Cursor object named cursor.

In the same way that Python files should be closed when we are done working with them, Connection and Cursor objects should also be closed when they are no longer needed.

We can use a with statement to help us automatically close Connection and Cursor objects:
closing is a convenience function provided by the contextlib module. When a with statement exits, closing ensures that close() is called on whatever object is passed to it. The closing function is used twice in this example. Once to ensure that the Connection object returned by sqlite3.connect() is automatically closed, and a second time to ensure that the Cursor object returned by connection.cursor() is automatically closed.

Since "SELECT 1" is a SQL statement that always returns a single row with a single column with a value of 1, it makes sense to see a single tuple with 1 as its only value returned by our code.

In [31]:
from contextlib import closing

with closing(sqlite3.connect("mydb.db")) as connection: 
    with closing(connection.cursor()) as cursor:
        rows = cursor.execute("SELECT 1").fetchall()
        print(rows)

[(1,)]