# Working with Databases - Example

## Python SQLite3 module is used to integrate the SQLite database with Python. It is a standardized Python DBI API 2.0

In [1]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
#Create the "connection" to the SQLite database, then create the table
con = sqlite3.connect('mydata.db') # returns a Connection object used to interact with the SQLite database h
con.execute(query)
con.commit()

In [2]:
#Add data to the database
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [3]:
#Execute query
cur=con.cursor() # Cursor objects allow us to send SQL statements to database using cursor.execute()
cur.execute('select * from test')
rows=cur.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

### Let us bring into pandas

In [4]:
import pandas as pd
cur.description  #provides the column names of the last query
pd.DataFrame(rows, columns=[x[0] for x in cur.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [5]:
#This is why x[0] was necessary in the previous cell
for x in cur.description:
    print(x)

('a', None, None, None, None, None, None)
('b', None, None, None, None, None, None)
('c', None, None, None, None, None, None)
('d', None, None, None, None, None, None)

## SQLAlchemy is a library that facilitates the communication between Python programs and database

### To start interacting with the database we first we need to establish a connection.

In [6]:
#%pip install sqlalchemy
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.db')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In reality, the following would be a better way to proceed when working with a database after a connection and a cursor have been created

In [7]:
#Finding the tables that are in the database
pd.read_sql('SELECT name FROM sqlite_schema WHERE type="table"',db)

   name
0  test

The table called *test* exists in the database and will be our focus

In [8]:
#Finding the number of records in the table
#REMEMBER You should not bring all of the records of a database into memory
#         the database could be huge and would overwhelm your system

pd.read_sql('SELECT count(*) FROM test',db)

   count(*)
0         3

In [9]:
#Selecting the number of records that you will work with 
pd.read_sql('SELECT * FROM test LIMIT 2',db)

             a        b     c  d
0      Atlanta  Georgia  1.25  6
1  Tallahassee  Florida  2.60  3

In [ ]:
#Deleting the database
!rm mydata.db