### QUIZ PRACTICE

#### QUESTION 1 

#### I have an unlabeled Panda series. What is the syntax to add the labels "x", "y", and "z" to a Pandas Series?

In [ ]:
series.index = [‘X’,’Y’,’Z’]

pd.Series(mlist, index = [‘X’,’Y’,’Z’])

#### QUESTION 2

#### I have a dataset with the variable name data. What is a correct syntax to create a Pandas DataFrame?

In [ ]:
df = pd.DataFrame(data)

#### QUESTION 3

#### What is a correct syntax to return the first row in a Pandas DataFrame with the variable name df?

In [ ]:
df.head(1)
df.iloc[0]

#### QUESTION 4

#### What is a correct syntax to return both the first row and the second row in a Pandas DataFrame with the variable name df?

In [ ]:
df[:2]

#### QUESTION 5

#### What is a correct syntax to return the first 20 rows of a DataFrame with the variable name df?

In [ ]:
df.head(20)

#### QUESTION 6

#### What is a correct syntax to return the entire DataFrame

In [ ]:
df = pd.dataframe(data)

df.to_string()

#### QUESTION 7

#### What is the Pandas function for loading JSON files into a DataFrame?

In [ ]:
url = "..."
json_df = pd.read_json(url)

#### QUESTION 8

#### What is syntax to load a Python Dictionary called "data" into a Pandas DataFrame?

In [ ]:
data = {‘name’:[hitesh,tejas]}
df=pd.DataFrame(data)

#### QUESTION 9

#### What is a Pandas method for removing rows that contains empty cells?

In [ ]:
new_df = df.dropna()

#### QUESTION 10

In [4]:
import pandas as pd

money_column = list(range(0, 6))
group_column = ['a', 'a', 'a', 'b', 'b', 'b']
random_column = list(range(10, 16))

df = pd.DataFrame(zip(money_column, group_column, random_column), 
                   columns = ['money_column', 'group_column', 'random_column'])

df

   money_column group_column  random_column
0             0            a             10
1             1            a             11
2             2            a             12
3             3            b             13
4             4            b             14
5             5            b             15

### Create groups by a column of choice

In [ ]:
column_name = column_name.group_by(money_column)